@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #181a1b;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-standard {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

.form-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.invisible-button {
  background: transparent;
  border: none !important;
}
